<h1>Validation errors</h1>

<article aria-labelledby="validations-problem">
  <h2 id="validations-problem">The problem</h2>

  <p>Validation errors communicate important information to your users. But dynamic page updates don't get automatically announced by screen readers. This is where ARIA live regions come in. You can use <code>aria-live</code> to announce any dynamic updates including search results, alerts, notificsations or validation errors.</p>
</article>

<article aria-labelledby="validations-aria-live">
  <h2 id="validations-aria-live">How to use ARIA live regions</h2>
</article>

<article class="mb-4" aria-labelledby="validations-forms">
  <h2 id="validations-forms">Form validation</h2>

  <p>The form below uses native HTML validation by adding the <code>required</code> attribute to the field. The screen reader announces the error automatically, without any extra code.</p>

  <%= form_for :product do |f| %>
    <%= f.label :product_name, "Product name" %>
    <%= f.text_field :product_name %>
    <%= f.label :description, "Description" %>
    <%= f.text_field :description %>
    <%= f.label :available, "In stock" %>
    <%= f.check_box :available %>
    <%= f.submit "Save" %>
  <% end %>
</article>

<article class="tip-container" aria-labelledby="validations-demo">
  <h2 class="tip-title" id="validations-demo">Try it yourself</h2>
  <p>If you're on a Mac, you can verify your work with VoiceOver. Press <code>cmd + F5</code> to turn it on, then try to submit the form without filling out the input. You should hear the validation error being announced.</p>
</article>

<section class="mb-2">
  <h2>Resources</h2>
  <ul>
    <li><a href="https://github.com/joemasilotti/railsdevs.com/pull/440">Example PR on Railsdevs - announcing flash messages to screen readers</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Live_Regions">MDN - ARIA live regions</a></li>
  </ul>
</section>

<%= render 'shared/back_link' %>
